@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* <<<--- MIXINS --->>> */

/* <<<--- VARIABLES --->>> */

@font-face {
  font-family: "Alice";
  src: url("../fonts//alice/alice.eot");
  src: local("☺"), url("../fonts/alice/alice.woff") format("woff"), url("../fonts/alice/alice.ttf") format("truetype"), url("../fonts/alice/alice.svg") format("svg"), url("../fonts/alice/alice.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.ibg {
  /* //.block__image
    &__image {
       position:fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
    } */
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

h2 {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 30px;
  position: relative;
  z-index: 2;
}

h2 span {
  color: #FF0036;
}

h2._w {
  color: black;
}

h2._b {
  color: white;
}

.descriptions {
  margin-top: 50px;
}

.descriptions span {
  color: #FF0036;
}

.descriptions._w {
  color: black;
}

.descriptions._b {
  color: #b6a399;
}

.border {
  margin: 105px auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border svg {
  height: 20px;
  width: 20px;
}

.border::after,
.border:before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
}

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  padding: 16px 25px;
  white-space: nowrap;
  color: white;
  background-color: black;
  border: 1px solid #FF0036;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn a {
  color: white;
}

.btn:hover {
  background-color: #FF0036;
}

.arrow-next,
.arrow-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.arrow-next i:before,
.arrow-prev i:before {
  font-size: 40px;
  color: #b6a399;
}

.arrow-next i:hover:before,
.arrow-prev i:hover:before {
  color: #FF0036;
}

.arrow-next {
  right: 30px;
}

.arrow-prev {
  left: 30px;
}

.wrapper {
  position: relative;
  overflow-y: hidden;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  width: 83.57143%;
}

.header__wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  background-color: #000000b8;
}

.header__body {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.menu {
  height: 100%;
}

.menu ul {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.menu ul li + li {
  margin-left: 30px;
}

.menu ul li {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu ul li a {
  color: #b6a399;
  font-size: 14px;
  text-transform: uppercase;
}

.menu ul li._active a {
  color: #e6e6e6;
}

.menu ul li:before,
.menu ul li:after {
  content: "";
  position: absolute;
  left: 10%;
  width: 70%;
  height: 2px;
}

.menu ul li:before {
  top: 0px;
}

.menu ul li:after {
  bottom: 0px;
}

.menu ul li:hover:before,
.menu ul li:hover:after {
  background-color: #FF0036;
}

.footer__body {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
}

.footer__logo {
  margin: auto;
}

.footer__logo img {
  margin: auto;
}

.head__body {
  height: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.head__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.head__title {
  color: white;
}

.head__text {
  margin: 50px 13.57143%;
  color: #b6a399;
  font-size: 20px;
  line-height: 24px;
}

.head__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.head__title,
.head__buttons,
.head__text {
  position: relative;
  z-index: 2;
}

.head__btn + .head__btn {
  margin-left: 30px;
}

.head-slider__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.head-slider__body {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.head-slider__block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.about__body {
  text-align: center;
  margin: 100px 0px;
  font-size: 16px;
}

.about__content {
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text {
  line-height: 22px;
}

.about__tabs,
.about__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}

.about__tabs {
  margin-top: 40px;
}

.about__image {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  right: 0px;
  opacity: 1;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.about__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dddddd;
  background-color: #fafafa;
  width: 100%;
}

.tab__title h4 {
  font-size: 20px;
  margin-left: 30px;
}

.tab__title h4 span {
  color: #FF0036;
}

.tab__icon {
  cursor: pointer;
  margin: 15px 20px;
  position: relative;
  width: 22px;
  height: 22px;
  padding: 10px 5px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid black;
}

.tab__icon:after,
.tab__icon:before {
  content: '';
  background-color: black;
  position: absolute;
}

.tab__icon:before {
  top: 10px;
  left: 5px;
  width: 10px;
  height: 1px;
}

.tab__icon:after {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  left: 10px;
  top: 5px;
  height: 10px;
  width: 1px;
}

.tab__icon:hover {
  border: 1px solid #FF0036;
}

.tab__icon:hover:after,
.tab__icon:hover:before {
  background-color: #FF0036;
}

.tab__content {
  margin: 15px;
  display: none;
}

.tab._open .tab__content {
  display: block;
}

.tab._open .tab__icon {
  border: 1px solid #FF0036;
}

.tab._open .tab__icon:before {
  background-color: #FF0036;
}

.tab._open .tab__icon:after {
  opacity: 0;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 18.57143%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 18.57143%;
          flex: 1 1 18.57143%;
  max-width: 18.57143%;
}

.card__image {
  cursor: pointer;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  position: relative;
}

.card__image .out {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.card__image .in {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card__image:hover .in {
  fill: white;
}

.card__image:hover .out {
  fill: #FF0036;
  stroke: none;
}

.card__title {
  white-space: nowrap;
  margin: 30px 0px;
  text-transform: uppercase;
  font-size: 18px;
}

.card__descriptions {
  font-size: 14px;
  line-height: 18px;
}

.portfolio__wrapper {
  padding: 100px 0px;
  width: 100%;
  text-align: center;
  background-color: #262626;
}

.portfolio__title {
  color: white;
}

.portfolio__body {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  position: relative;
}

.portfolio__item:hover .portfolio__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__button {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.portfolio__button a {
  margin: auto;
}

.categories ul {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories ul li + li {
  margin-left: 20px;
}

.categories ul li a {
  white-space: nowrap;
  font-size: 16px;
  text-transform: uppercase;
  color: #b6a399;
}

.categories ul li._active a {
  color: #FF0036;
}

.features {
  /*  @keyframes slide-in-fwd-left {
      0% {
        transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateZ(0) translateX(0);
        opacity: 1;
      }
    } */
  /* @keyframes slide-in-fwd-right {
      0% {
        transform: translateZ(-1400px) translateX(1000px);
        opacity: 0;
      }
      100% {
        transform: translateZ(0) translateX(0);
        opacity: 1;
      }
    } */
}

.features__body {
  padding: 100px 0px;
  text-align: center;
}

.features__content {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__items-r,
.features__items-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__items-l {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: -30px;
}

.features__items-l .features__item._active {
  /* animation: slide-in-fwd-left 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.3s; */
}

.features__items-r {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -40px;
}

.features__items-r .features__item._active {
  /* animation: slide-in-fwd-right 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.3s; */
}

.features__items-r,
.features__items-l,
.features__image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  max-width: 33%;
}

.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item .name {
  white-space: nowrap;
  text-transform: uppercase;
  padding: 20px 10px;
}

.features__item .check-icon {
  position: relative;
  width: 34px;
  height: 34px;
  margin: auto 10px;
}

.features__item .check-icon .out,
.features__item .check-icon .in {
  position: absolute;
}

.features__item .check-icon .out svg,
.features__item .check-icon .in svg {
  width: 34px;
  height: 34px;
}

.features__item .check-icon .out {
  fill: #e6e6e6;
  top: 0px;
  left: 0px;
}

.features__item .check-icon .in {
  fill: #000000;
  top: 11px;
  left: 11px;
}

.features__item:hover {
  background-color: #FF0036;
}

.features__item:hover .name {
  color: white;
}

.features__item:hover .out {
  fill: white;
}

.features__item:hover .in {
  fill: #FF0036;
}

.features__image {
  position: relative;
}

.features__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.features__image .features__button {
  position: absolute;
  bottom: 10%;
  left: -webkit-calc(50% - 75px);
  left: -moz-calc(50% - 75px);
  left: calc(50% - 75px);
}

.clients__wrapper {
  position: relative;
}

.clients__wrapper .ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: brightness(0.13);
          filter: brightness(0.13);
}

.clients__body {
  padding: 100px 0px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.clients__content {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__images {
  margin-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.clients__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__row + .clients__row {
  margin-top: 40px;
}

.clients__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  position: relative;
  height: 120px;
}

.clients__image + .clients__image {
  margin-left: 30px;
}

.clients__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.clients-feedbacks {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-feedbacks__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.clients-feedbacks__pagination {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-feedbacks__pagination span {
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 10%;
     -moz-border-radius: 10%;
          border-radius: 10%;
  background-color: white;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.clients-feedbacks__pagination span._active {
  background-color: #FF0036;
}

.clients-feedbacks__pagination span + span {
  margin-left: 20px;
}

.feedback {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.feedback__title {
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}

.feedback__text {
  margin: 45px 0px;
  color: #b6a399;
  font-size: 16px;
  line-height: 20px;
}

.feedback__image {
  margin: 0 auto;
}

.feedback__image svg {
  width: 60px;
  height: 60px;
}

.feedback__name {
  margin: 20px 0px 25px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: #FF0036;
}

.teamwork__body {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamwork__content {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.teamwork__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.teamwork__arrow-next,
.teamwork__arrow-prev {
  display: none;
}

.teamwork-card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 25%;
}

.teamwork-card + .teamwork-card {
  margin-left: 25px;
}

.teamwork-card__body {
  margin: 0 auto;
  max-width: 270px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e4e4e4;
}

.teamwork-card__image {
  width: 100%;
  height: 240px;
  position: relative;
}

.teamwork-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  -moz-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: perspective(600px) rotateY(0);
     -moz-transform: perspective(600px) rotateY(0);
          transform: perspective(600px) rotateY(0);
}

.teamwork-card__socials {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  -moz-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: perspective(600px) rotateY(180deg);
     -moz-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  position: absolute;
  background-color: #000000b8;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamwork-card__icon + .teamwork-card__icon {
  margin-left: 16px;
}

.teamwork-card__icon svg {
  width: 45px;
  height: 45px;
}

.teamwork-card__name {
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 18px;
}

.teamwork-card__job {
  margin: 25px 0px 30px 0px;
  font-size: 16px;
}

.teamwork-card:hover .teamwork-card__body {
  border: 1px solid black;
}

.teamwork-card:hover .teamwork-card__name {
  color: #FF0036;
}

.teamwork-card:hover .teamwork-card__socials {
  opacity: 1;
  visibility: visible;
  -webkit-transform: perspective(600px) rotateY(0);
     -moz-transform: perspective(600px) rotateY(0);
          transform: perspective(600px) rotateY(0);
}

.teamwork-card:hover .teamwork-card__image img {
  -webkit-transform: perspective(600px) rotateY(-180deg);
     -moz-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
  opacity: 0;
  visibility: hidden;
}

.skills__body {
  text-align: center;
  margin-bottom: 100px;
}

.skills__content {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill + .skill {
  margin-left: 50px;
}

.skill__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 145px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #e6e6e6;
  position: relative;
  overflow: hidden;
}

.skill__progress .progress-line {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FF0036;
}

.skill__progress .progress-line:before,
.skill__progress .progress-line:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 100%;
  background-color: #FF0036;
}

.skill__progress .progress-line:after {
  bottom: 0px;
}

.skill__progress .progress-line:before {
  top: 0px;
}

.skill__progress .progress-line._90:before,
.skill__progress .progress-line._90:after {
  height: 30%;
}

.skill__progress .progress-line._80:before,
.skill__progress .progress-line._80:after {
  height: 20%;
}

.skill__progress .progress-line._70:before,
.skill__progress .progress-line._70:after {
  height: 10%;
}

.skill__progress .progress-body {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 140px;
  height: 140px;
  position: relative;
  z-index: 2;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__progress .progress-body span {
  font-size: 54px;
}

.skill__progress .progress-body span span {
  color: #FF0036;
}

.skill__name {
  text-transform: uppercase;
  font-size: 20px;
  margin: 25px 0px;
}

.skill__description {
  font-size: 14px;
  line-height: 18px;
}

.services {
  background-color: #262626;
}

.services__body {
  padding: 100px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__content {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 100%;
  margin-top: 20px;
}

.services__item + .services__item {
  margin-left: 25px;
}

.service__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__icon {
  position: relative;
  width: 70px;
  height: 70px;
}

.service__icon svg {
  width: 70px;
  height: 70px;
  position: absolute;
}

.service__icon .out {
  top: 0px;
  left: 0px;
  fill: white;
}

.service__icon .in {
  top: 20px;
  left: 20px;
}

.service__title {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 26px;
  color: white;
}

.service__description {
  font-size: 16px;
  line-height: 20px;
  color: #b6a399;
  background-color: #343434;
  padding: 35px;
}

.service:hover .service__description {
  color: white;
  background-color: #3d2329;
}

.service:hover .out {
  fill: #FF0036;
}

.service:hover .in {
  fill: white;
}

.plans__body {
  margin: 100px 0px;
  text-align: center;
}

.plans__content {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.plans__items {
  min-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.plans .arrow-next,
.plans .arrow-prev {
  display: none;
}

.plan {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 25%;
  padding: 0px 10px;
}

.plan__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #858585;
}

.plan__title,
.plan__price,
.plan__info {
  padding: 15px 0px;
  width: 100%;
  border-bottom: 1px solid #858585;
}

.plan__title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  background-color: black;
  color: white;
}

.plan__price {
  background-color: #e6e6e6;
}

.plan__price b {
  font-weight: 700;
  font-size: 40px;
}

.plan__info {
  font-size: 16px;
}

.plan__button {
  width: 100%;
  padding: 15px 20px;
}

.plan .order-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0px;
  background-color: black;
}

.plan .order-btn a {
  color: white;
}

.plan:hover .order-btn {
  background-color: #FF0036;
}

.plan:hover .plan__price {
  background-color: #FF0036;
  color: white;
}

.block__body {
  padding: 100px 30px;
  background-color: #262626;
  position: relative;
  text-align: center;
}

.block__image {
  position: absolute;
  bottom: 0px;
  left: 30px;
  height: 70%;
}

.block__image img {
  width: 100%;
  height: 100%;
}

.block__icon {
  margin: 0 auto;
}

.block__icon svg {
  width: 50px;
  height: 50px;
  fill: #FF0036;
}

.blog__body {
  margin: 100px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__arrow {
  margin-top: 50px;
}

.blog__arrow button {
  background-color: transparent;
}

.blog__arrow svg {
  width: 45px;
  height: 45px;
  --color-out: #e6e6e6;
  --color-in: #a2a2a2;
}

.blog__arrow:hover svg {
  --color-out: #FF0036;
  --color-in: white;
}

.post + .post {
  margin-top: 50px;
}

.post__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.post__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 38.22314%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 38.22314%;
          flex: 0 0 38.22314%;
  max-width: 38.22314%;
}

.post__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post__content {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post__content .post__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 0;
     -moz-box-flex: 0;
      -ms-flex: 0 1 0px;
          flex: 0 1 0;
}

.post__title {
  font-size: 30px;
  font-weight: 700;
}

.post__info {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.post__author,
.post__comments,
.post__views {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a2a2a2;
}

.post__author:before,
.post__comments:before,
.post__views:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.post__author:before {
  background: url("../img/icons-before/user.svg") center/contain no-repeat;
}

.post__comments {
  margin-left: 30px;
}

.post__comments:before {
  background: url("../img/icons-before/comment.svg") center/contain no-repeat;
}

.post__views {
  margin-left: 30px;
}

.post__views:before {
  background: url("../img/icons-before/view.svg") center/contain no-repeat;
}

.post__text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 20px;
}

.post__btn {
  margin-top: 30px;
}

.follow__body {
  padding: 100px 0px;
  position: relative;
  text-align: center;
}

.follow__image {
  -webkit-filter: brightness(0.15);
          filter: brightness(0.15);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.follow__socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.follow__social-icon + .follow__social-icon {
  margin-left: 30px;
}

.follow__social-icon svg {
  width: 70px;
  height: 70px;
  --color-follow-out: transparent;
  --color-follow-in: #FF0036;
  stroke: #FF0036;
}

.follow__social-icon:hover svg {
  --color-follow-out: #FF0036;
  --color-follow-in: white;
  stroke: none;
}

.find__body {
  margin-top: 100px;
  text-align: center;
  position: relative;
}

.find__map {
  position: relative;
  margin-top: 50px;
  height: 580px;
}

.find__map .mobile {
  display: none;
}

.find__map .find__contacts {
  position: absolute;
  bottom: 100px;
  right: 60.71429%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 35px 100px 100px 25px;
  color: #b6a399;
}

.find__map .find__contacts a {
  color: #b6a399;
}

.find__map .ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.find__map .country,
.find__map .email,
.find__map .phone,
.find__map .address {
  position: relative;
  z-index: 2;
}

.find__map .email,
.find__map .phone,
.find__map .address {
  margin-top: 10px;
}

.find__form {
  position: absolute;
  bottom: 0px;
  right: 17.85714%;
  width: 33.57143%;
}

.form__body {
  padding: 50px 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.form__title {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 50px;
}

.form__input {
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #a2a2a2;
}

.form__input + .form__input {
  margin-top: 15px;
}

.form textarea {
  height: 90px;
}

.form__btn {
  font-size: 16px;
  margin-top: 25px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

/* 
HTML

<div class="header__body">
   <button class="menu__icon burger" type=""><span></span></button>
</div>

*/

body.lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

.menu__icon.open {
  position: absolute;
}

.menu__icon.open span {
  background-color: #FF0036;
}

.menu__icon.open span:nth-child(1) {
  -webkit-transform: translate(0px, 17px) rotate(45deg);
     -moz-transform: translate(0px, 17px) rotate(45deg);
      -ms-transform: translate(0px, 17px) rotate(45deg);
       -o-transform: translate(0px, 17px) rotate(45deg);
          transform: translate(0px, 17px) rotate(45deg);
}

.menu__icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
     -moz-transform: rotate(-45deg) translate(0px, 0px);
      -ms-transform: rotate(-45deg) translate(0px, 0px);
       -o-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

.menu__icon.open span:nth-child(3) {
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}

.slider__btn-next,
.slider__btn-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.slider__btn-next i:before,
.slider__btn-prev i:before {
  font-size: 50px;
  color: #b6a399;
}

.slider__btn-next:hover,
.slider__btn-prev:hover {
  color: #FF0036;
}

.slider__btn-prev {
  left: 30px;
}

.slider__btn-next {
  right: 30px;
}

.slider__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__body {
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__content {
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  white-space: nowrap;
}

.slider__pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  width: 15px;
  height: 15px;
  position: relative;
}

.pagination__item + .pagination__item {
  margin-left: 20px;
}

.pagination__item:before {
  content: '';
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 0px;
}

.pagination__item:hover:before {
  border: 3px solid #b6a399;
}

.pagination__item._active:before {
  border: 3px solid white;
  background-color: #FF0036;
}

body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.836);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  position: relative;
}

.popup__content {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
     -moz-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
       -o-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.popup-close {
  cursor: pointer;
  position: absolute;
  z-index: 101;
  top: 10px;
  right: 10px;
}

.popup-close svg {
  width: 40px;
  height: 40px;
  fill: #b6a399;
}

.popup-close svg:hover {
  fill: #FF0036;
}

.popup .pagination__item._hidden {
  display: none;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
     -moz-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
       -o-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.popup.open .slider__body img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup ._swiper-hidden {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.tab,
.portfolio__item,
.follow__social-icon {
  cursor: pointer;
}

@media (min-width: 320px) {
  .features__item .name {
    font-size: -webkit-calc(12px + 6 * (100vw / 1400));
    font-size: -moz-calc(12px + 6 * (100vw / 1400));
    font-size: calc(12px + 6 * (100vw / 1400));
  }
}

@media (min-width: 1000px) {
  .teamwork__cards {
    -webkit-transform: translate(0) !important;
       -moz-transform: translate(0) !important;
        -ms-transform: translate(0) !important;
         -o-transform: translate(0) !important;
            transform: translate(0) !important;
  }
}

@media (max-width: 1200px) {
  .features .container {
    width: 95%;
  }
}

@media (max-width: 1050px) {
  .header .container {
    width: 96%;
  }

  .menu ul li + li {
    margin-left: 20px;
  }

  .plans__content {
    overflow: hidden;
    margin-top: 50px;
  }

  .plans .arrow-next,
  .plans .arrow-prev {
    display: block;
  }

  .plans .arrow-next {
    right: -5%;
  }

  .plans .arrow-prev {
    left: -5%;
  }

  .plan {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1000px) {
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .about__text {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  .about__tabs {
    max-width: 100%;
  }

  .about__image {
    height: auto;
    position: static;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }

  .teamwork__cards {
    min-width: 100%;
  }

  .teamwork__arrow-next,
  .teamwork__arrow-prev {
    display: block;
  }

  .teamwork-card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .teamwork-card + .teamwork-card {
    margin-left: 0px;
  }

  .find .find__form {
    right: 5%;
    width: 50%;
  }

  .find .find__form .form__body {
    padding: 40px 25px;
  }

  .find .find__form .form__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .find .find__form .form__btn {
    font-size: 12px;
    padding: 10px 15px;
  }

  .find .find__contacts {
    padding: 25px 40px 70px 15px;
  }
}

@media (max-width: 850px) {
  .features__content {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .features__items-l {
    margin-right: 0px;
  }

  .features__items-r {
    display: none;
  }

  .features__items-r,
  .features__items-l,
  .features__image {
    max-width: 50%;
  }

  .features__item .name {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .features__item .check-icon {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .clients__images {
    max-width: 30%;
  }

  .clients__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .clients__row + .clients__row {
    margin-top: 20px;
  }

  .clients__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .clients__image + .clients__image {
    margin: 20px 0px 0px 0px;
  }

  .skill__progress {
    width: 100px;
    height: 100px;
  }

  .skill__progress .progress-body {
    width: 95px;
    height: 95px;
  }

  .skill__progress .progress-body span {
    font-size: 44px;
  }

  .menu__icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 40px;
    background-color: transparent;
  }

  .menu__icon span {
    height: 4px;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: white;
  }

  .menu ul {
    /* flex-direction: column; */
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .menu ul li + li {
    margin: 0;
  }

  .menu ul li {
    height: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu ul li a {
    font-size: 20px;
  }

  .menu ul li:before,
  .menu ul li:after {
    width: 30px;
    left: -webkit-calc(50% - 15px);
    left: -moz-calc(50% - 15px);
    left: calc(50% - 15px);
  }

  .header__body {
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
       -moz-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: auto;
    background-color: #272727;
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border-bottom: 1px solid #FF0036;
  }

  .header__body.open {
    top: 0;
  }

  .header__body a {
    color: white;
  }
}

@media (max-width: 700px) {
  .about__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 45%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    max-width: 45%;
    margin-top: 30px;
  }

  .portfolio__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .service__title {
    font-size: 20px;
  }

  .service__description {
    padding: 20px;
  }

  .post__title {
    font-size: 24px;
  }

  .post__text {
    margin-top: 15px;
    font-size: 16px;
  }

  .post__btn {
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 14px;
  }
}

@media (max-width: 600px) {
  .border::after,
  .border:before {
    width: 100px;
  }

  .features__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .features__items-l {
    position: relative;
    z-index: 2;
  }

  .features__item .name {
    font-weight: 700;
  }

  .features__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .features__image img {
    opacity: 0.6;
  }

  .features .features__button {
    position: relative;
    z-index: 2;
  }

  .clients__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .clients__images {
    max-width: 100%;
    margin: 30px 0px 0px 0px;
  }

  .clients__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .clients__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
    height: 80px;
  }

  .clients__image + .clients__image {
    margin: 0px 0px 0px 20px;
  }

  .skill__progress {
    width: 50px;
    height: 50px;
  }

  .skill__progress .progress-body {
    width: 45px;
    height: 45px;
  }

  .skill__progress .progress-body span {
    font-size: 20px;
  }

  .skill__name {
    font-size: 14px;
  }

  .skill__description {
    font-size: 12px;
  }

  .skill + .skill {
    margin-left: 10px;
  }

  .plan__body {
    margin: 0 auto;
    width: 80%;
  }

  .plan__title,
  .plan__price,
  .plan__info {
    padding: 10px 0px;
  }

  .plan__title {
    font-size: 20px;
  }

  .plan__price b {
    font-size: 30px;
  }

  .plan__info {
    font-size: 12px;
  }

  .plan__button {
    padding: 10px 10px;
  }

  .plan .order-btn {
    font-size: 14px;
  }

  .plan {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .post__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    margin-top: 20px;
    max-width: 100%;
  }

  .post__content {
    padding-left: 0px;
  }

  .find .find__form {
    position: static;
    width: 80%;
    margin: 0 auto;
  }

  .find .find__contacts {
    right: 26%;
    bottom: 80px;
  }

  .find .find__map {
    height: 300px;
  }

  .find .find__map .mobile {
    display: block;
  }

  .find .find__map .pc {
    display: none;
  }
}

@media (max-width: 500px) {
  .descriptions {
    margin-top: 30px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 15px;
  }

  .head__body {
    height: 100vh;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .head__text {
    margin: 0px 50px;
  }

  .head__text {
    font-size: 16px;
  }

  .head__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .head__btn + .head__btn {
    margin: 20px 0px 0px 0px;
  }

  .about__body {
    margin: 50px 0px;
  }

  .about__content {
    margin-top: 50px;
  }

  .about__text {
    padding: 50px 0px;
    font-weight: 700;
  }

  .about__tabs,
  .about__text {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.455);
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }

  .about__image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .portfolio__wrapper {
    padding: 50px 0px;
  }

  .portfolio__body {
    margin-top: 50px;
  }

  .categories ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .categories ul li + li {
    margin-left: 0px;
  }

  .categories ul li {
    width: 50%;
    margin-top: 20px;
  }

  .features__body {
    padding: 50px 0px;
  }

  .clients__body {
    padding: 50px 0px;
  }

  .clients__content {
    margin-top: 50px;
  }

  .teamwork__body {
    margin-top: 50px;
  }

  .services__body {
    padding: 50px 0px;
  }

  .services__content {
    margin-top: 50px;
  }

  .services__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .services__item + .services__item {
    margin-left: 0px;
  }

  .plans__body {
    margin: 50px 0px;
  }

  .block__body {
    padding: 50px 30px;
  }

  .block__image {
    left: 0;
  }

  .blog__body {
    margin: 50px 0px;
  }

  .follow__body {
    padding: 50px 0px;
  }

  .follow__social-icon + .follow__social-icon {
    margin-left: 10px;
  }

  .find__body {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .border {
    margin: 50px auto;
  }

  .card__title {
    font-size: 14px;
  }

  .card__descriptions {
    font-size: 12px;
    line-height: 16px;
  }

  .features__content {
    margin-top: 50px;
  }

  .teamwork__content {
    margin-top: 50px;
  }

  .skills__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 40px;
  }

  .skill {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
    margin: 20px 0px 0px 0px;
  }

  .skill + .skill {
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
  .features__item .name {
    font-size: -webkit-calc(12px  + 10.2 * ((100vw - 320px) /1400));
    font-size: -moz-calc(12px  + 10.2 * ((100vw - 320px) /1400));
    font-size: calc(12px  + 10.2 * ((100vw - 320px) /1400));
  }
}